body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-color: #1f2937;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* Menu */
.menu {
    background-color: #374151;
    padding: 10px 20px;
}

.menu a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

/* Main Layout */
.main {
    flex: 1;
    display: flex;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    flex: 0 0 18%;
    background-color:  #e5e7eb;
    padding: 20px;
}

/* Content */
.content {
    flex: 1;
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.box img {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
}
